<html>
<head>
<link rel="stylesheet" href="js/domain/admin/style.css">
</head>
<body>
	<div class="row">
		<ul id="tabs" class="nav nav-tabs nav-justified"
			style="cursor: pointer;">
			<li class="active"><a data-toggle="tab" data-target="#home">Home</a></li>
			<li><a data-toggle="tab" data-target="#newUrl">Create New
					Url</a></li>
			<li><a data-toggle="tab" data-target="#viewUrl"
				ng-click="adminController.selectView('Total')">View Urls</a></li>
		</ul>
	</div>
	<div class="container">

		<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
				<br>
				<h3 class="row">Last Update: {{adminController.currentDate}}</h3>
				<br>
				<h4 class="row">Base Url: {{adminController.url}}</h4>
				<br>
			</div>

			<div id="newUrl" class="tab-pane fade">
				<br>
				<form>
					Name <br> <input name="name" ng-model="adminController.name"></input><br>
					<br> Details <br> <input name="details"
						ng-model="adminController.details"></input><br> <br>
					<button ng-click="adminController.newLocation()">Create</button>
				</form>
			</div>

			<div id="viewUrl" class="tab-pane fade">
				<br>
				<div class="row">
					<div style="display: inline-block">
						<label class="col-sm-7" style="font-size: 20px">View By: </label>
						<div class="dropdown col-sm-4">
							<button class="btn btn-default dropdown-toggle"
								data-toggle="dropdown">{{adminController.selectedView}}
								View</button>
							<ul class="dropdown-menu">
								<li ng-repeat="view in adminController.views"><a
									style="cursor: : pointer;"
									ng-click="adminController.selectView(view)">{{view}} View</a></li>
								<li><a style="cursor: : pointer;"
									ng-click="adminController.showChart(year)">Yearly Chart</a></li>
								<li><a style="cursor: : pointer;"
									ng-click="adminController.showChart(month)">Monthly Chart</a></li>
								<li><a style="cursor: : pointer;"
									ng-click="adminController.showChart(week)">Weekly Chart</a></li>

							</ul>
						</div>
					</div>
				</div>

				<br>
				<div id="Table" class="row">
					<div class="row viewRow">
						<div class="col-sm-4 viewFormat">Url</div>
						<div class="col-sm-4 viewFormat">Name</div>
						<div class="col-sm-4 viewFormat">{{adminController.selectedView}}
							Views</div>
					</div>

					<div class="row" ng-repeat="location in adminController.locations">
						<div class="col-sm-4 viewLocation">{{adminController.url}}/{{location.locationId}}</div>
						<div class="col-sm-4 viewLocation">{{location.locationName}}</div>
						<div id="Total{{$index}}" class="col-sm-4 viewLocation">{{location.locationViews
							+ location.locationUserViews}}</div>
						<div id="User{{$index}}" class="col-sm-4 viewLocation"
							style="display: none;">{{location.locationUserViews}}</div>
						<div id="Anonymous{{$index}}" class="col-sm-4 viewLocation"
							style="display: none;">{{location.locationViews}}</div>
						<div id="Yearly{{$index}}" class="col-sm-4 viewLocation"
							style="display: none;">{{adminController.viewTimes[$index].yearlyView}}</div>
						<div id="Monthly{{$index}}" class="col-sm-4 viewLocation"
							style="display: none;">{{adminController.viewTimes[$index].monthlyView}}</div>
						<div id="Weekly{{$index}}" class="col-sm-4 viewLocation"
							style="display: none;">{{adminController.viewTimes[$index].weeklyView}}</div>
					</div>
				</div>
				<div>
					<canvas id="Chart"
						style="display: none; width: 100px; height: 100px"></canvas>
				</div>
			</div>
		</div>
	</div>
</body>
</html>