<html>
<link rel="stylesheet" href="js/domain/admin/style.css">
<body>
	<div class="row">
		<ul id="tabs" class="nav nav-tabs nav-justified"
			style="cursor: pointer;">
			<li class="active"><a data-toggle="tab" data-target="#home">Home</a></li>
			<li><a data-toggle="tab" data-target="#newUrl">Create New
					Url</a></li>
			<li><a data-toggle="tab" data-target="#viewUrl">View Urls</a></li>
		</ul>
	</div>
	<div class="container">

		<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
				<br>
				<div>{{adminController.url}}/0</div>
				<div
					style="font-size: 150px; color: red; animation-name: colors; animation-duration: .1s; animation-iteration-count: infinite">
					Hello Admin! <br> <img src="picture/spidey.gif"
						style="width: 179px; height: 137px">
				</div>
			</div>

			<div id="newUrl" class="tab-pane fade">
				<br>
				<form>
					Name <br> <input name="name" ng-model="adminController.name"></input><br>
					<br> Details <br> <input name="details"
						ng-model="adminController.details"></input><br> <br>
					<button ng-click="adminController.newLocation()">Create</button>
				</form>
			</div>

			<div id="viewUrl" class="tab-pane fade">
				<br>
				<div class="row">
					<div style="display: inline-block">
						<label class="col-sm-7" style="font-size: 20px">View By: </label>
						<div class="dropdown col-sm-4">
							<button class="btn btn-default dropdown-toggle"
								data-toggle="dropdown">{{adminController.selectedView}}</button>
							<ul class="dropdown-menu">
								<li ng-repeat="view in adminController.views"><a
									style="cursor: : pointer;"
									ng-click="adminController.selectView(view)">{{view}} View</a>
							</ul>
						</div>
					</div>
				</div>

				<br>
				<div class="row">
					<table style="font-size: 20px">
						<tr class="row">
							<th class="col-sm-4 text-center">Url</th>
							<th class="col-sm-4 text-center">Name</th>
							<th class="col-sm-4 text-center">{{adminController.selectedView}} Views</th>
						</tr>
						<tr ng-repeat="location in adminController.locations" class="row">
							<td class="col-sm-4">{{adminController.url}}/{{location.locationId}}</td>
							<td class="col-sm-4">{{location.locationName}}</td>
							<td id="Total{{$index}}" class="col-sm-12">{{location.locationViews + location.locationUserViews}}</td>
							<td id="User{{$index}}" class="col-sm-12" style="display: none;">{{location.locationUserViews}}</td>
							<td id="Anonymous{{$index}}" class="col-sm-12" style="display: none;">{{location.locationViews}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>