div {
	text-align: center;
}

.viewFormat {
	text-align: left;
	font-size: 40px;
}

.viewLocation {
	padding: 15px;
	font-size: 20px;
	text-align: left;
	vertical-align: center;
	border-bottom: 2px solid black;
}

.viewRow {
	border-style: outset;
}

.nav-tabs > li > a:hover {
	transition: .5s;
	background-color: #7EC0EE !important;
}

li.active a{
	background-color:#eeeeee !important;
}

li.active a:hover{
	background-color:#eeeeee !important;
}